body {
	background-color: #d9d9d9;
}

.main-panel {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-inverse {
	background-color: #4c2985;
	width: 100%;
}

#banner > h1 {
	color: white;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.section-dropdown {
	padding: 0px;

}

.section-table {
	width: 100%;
	border: solid 1px #bcbcbc;
}

.section-info {
	padding-right: 5px;
	font-size: 20pt;
	width: 100%;
}

.section-info > td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-right: solid 1px #bcbcbc;
}

.section {
	width: 10%;
}

.section-instructor {
	width: 70%;
}

.section-open {
	color: #008a00;
	width: 20%;
	overflow: hidden;
}

.section-closed {
	color: #777;
	overflow: hidden;
}

.remove-plan {
	float: right;
	padding-right: 10px;
	color: red;
}

.more-option {
	color: gold;
	padding-right: 10px;
	float: right;
}

.under-option {
	text-align: center;
}

.section-detail {
	font-size: 10pt;
	border-top: solid 1px #bcbcbc;
}

.section-detail > td {
	padding-top: 5px;
	padding-bottom: 5px;
}