#filters p {
	margin: 0px;
}

#filters p {
	font-weight: bold;
}

#filters {
	overflow: hidden;
}

h3 {
	border-bottom: 2px solid black;
}

.filter-options {
	float: left;
	margin-right: 10px;
}

.list-group-item {
	overflow: hidden;
}

.schedule-option {
	color: white;
	font-weight: bold;
	float: left;
	width: 15%;
	height: 90px;
	margin-right: 3.8%;
	text-align: center;
	vertical-align: middle;
	background-color: gray;
	border-radius: 3px;
	padding-top: 5px;
}

.register-btn {
	border: 1px solid white;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.register-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

#schedule-left, #schedule-right {
	color: black;
	width: 1%;
	text-align: center;
	background-color: transparent;
}

#schedule-right {
	margin-right: 0%;
	float: right;
}

.schedule-selected {
	background-color: green;
}

.schedule-starred {
	color: gold;
	cursor: pointer;
}

.schedule-starred:hover {
	color: white;
}

.schedule-unstarred {
	color: white;
}

.schedule-unstarred:hover {
	color: gold;
	cursor: pointer;
}

#maps {
	margin-right: auto;
	margin-left: auto;
}

iframe {
	width: 45%;
	height: 450px;
	float: left;
}

#directions {
	overflow: hidden;
}

.progress {
	margin-top: 10px;
	margin-bottom: 10px;
}